


	
  
  <div class="modal fade" id="error_modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1">
    
    <div class="modal-dialog modal-xl">

      <div id="error_win" class="modal-content content_conteiner">

        <div class="modal-header container_title">
          <h5 id="error_banner" class="modal-title"></h5>
        </div>

        <div class="modal-body content_space">

            <div><p id="error_human_text"></p></div>

            <div id="error_info_container">

                <div>
                    <p id="func_name"></p>
                    <p id="error_text"></p>
                </div>

            </div>
          
        </div>

        <div class="modal-footer container_bottom">
          <button id="error_info" type="button" class="btn" state="0" onclick="show_error_info">Подробности</button>
          <button id="error_close" type="button" class="btn" data-bs-dismiss="modal">ОК</button>
        </div>

      </div>

    </div>

  </div>
  